.selected {
  /*box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);*/
  color:#000;
  cursor: default;
  border-color: #7f7f7f;
  overflow:inherit;
}

.unselected {
  max-height: 1.5em;
  overflow:hidden;
  border-color:#fff;
}

.selected, .unselected {
  border-style: solid;
  border-width: 1px 0;
}

.root {
  max-height: none;
  border:1px solid #f0f0f0;
}

.root.selected {
  border-color:#000;
}

.user-float {
  float:right;
}

button.toggle-reply-form {
  position: relative;
  top: 2ex;
  z-index:1000;
  box-shadow: 0 0 5px 5px #fff;
  background-color:darkgreen;
}

.post-header {
  background-color:#f0f0f0;
}
